src/flows_domotica.json
[
    {
        "id": "f397ce64f75f5629",
        "type": "tab",
        "label": "Domotica v1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "0e0309d6c34ad814",
        "type": "tab",
        "label": "Domotica v2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5619656af46dda7",
        "type": "ui_group",
        "name": "Registro",
        "tab": "8624a7228b97d7d6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0ccd4cb05501031",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#026e23",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#382791",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fcb588b4d1585332",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8624a7228b97d7d6",
        "type": "ui_tab",
        "name": "Node-RED IoT Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "160fb72f5571ebe3",
        "type": "ui_tab",
        "name": "Tab #2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8081c4b6d1d092c6",
        "type": "ui_group",
        "name": "Acciones",
        "tab": "8624a7228b97d7d6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c7174cbca07211b",
        "type": "ui_group",
        "name": "Información",
        "tab": "8624a7228b97d7d6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "907a4a05f577b270",
        "type": "ui_spacer",
        "z": "f397ce64f75f5629",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca56362356c8658e",
        "type": "ui_spacer",
        "z": "f397ce64f75f5629",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c36fc0e25e57171",
        "type": "ui_spacer",
        "z": "0e0309d6c34ad814",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "18d036e0f64be590",
        "type": "ui_spacer",
        "z": "0e0309d6c34ad814",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "367e7680ef7118c1",
        "type": "ui_spacer",
        "z": "0e0309d6c34ad814",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f45b98558e427c8",
        "type": "ui_spacer",
        "z": "0e0309d6c34ad814",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f7b24262dfbe4398",
        "type": "ui_spacer",
        "z": "0e0309d6c34ad814",
        "name": "spacer",
        "group": "9c7174cbca07211b",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3978b7ee26c46bba",
        "type": "mqtt in",
        "z": "f397ce64f75f5629",
        "name": "Sensor >> Broker ",
        "topic": "topic1724/sensor1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fcb588b4d1585332",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "f384f88e61173fa5",
                "2cee062d8a24dd9f"
            ]
        ]
    },
    {
        "id": "f384f88e61173fa5",
        "type": "ui_gauge",
        "z": "f397ce64f75f5629",
        "name": "Temperatura",
        "group": "d5619656af46dda7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "className": "",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ad4f66f4dcfadb9",
        "type": "mqtt out",
        "z": "f397ce64f75f5629",
        "name": "Switch >> Broker",
        "topic": "topic1724/actuador1",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcb588b4d1585332",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "88aea27225832c40",
        "type": "ui_text",
        "z": "f397ce64f75f5629",
        "group": "8081c4b6d1d092c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Variable",
        "label": "Estado Luces:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "1df7fad50d289bd9",
        "type": "debug",
        "z": "f397ce64f75f5629",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "2cee062d8a24dd9f",
        "type": "debug",
        "z": "f397ce64f75f5629",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e5e61d9d53ae02c",
        "type": "ui_chart",
        "z": "f397ce64f75f5629",
        "name": "Humedad",
        "group": "d5619656af46dda7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a774c83b0aeed9",
        "type": "ui_switch",
        "z": "f397ce64f75f5629",
        "name": "Luces",
        "label": "Luces",
        "tooltip": "Enciende o apaga las luces",
        "group": "8081c4b6d1d092c6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "9ad4f66f4dcfadb9",
                "88aea27225832c40",
                "1df7fad50d289bd9"
            ]
        ]
    },
    {
        "id": "e9a9912599ca6e18",
        "type": "mqtt in",
        "z": "f397ce64f75f5629",
        "name": "Sensor >> Broker ",
        "topic": "topic1724/sensor2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fcb588b4d1585332",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "7e5e61d9d53ae02c",
                "2aef6ca1b8ac0c3f"
            ]
        ]
    },
    {
        "id": "2aef6ca1b8ac0c3f",
        "type": "debug",
        "z": "f397ce64f75f5629",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "2510bb4baa0f37cf",
        "type": "inject",
        "z": "f397ce64f75f5629",
        "name": "Init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "ca9f41faf3bb7611"
            ]
        ]
    },
    {
        "id": "0e44fa6c0159233b",
        "type": "ui_slider",
        "z": "f397ce64f75f5629",
        "name": "Slider",
        "label": "Slider",
        "tooltip": "",
        "group": "8081c4b6d1d092c6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "35f7b572f33df6fb",
                "b16dea595bfa99ac"
            ]
        ]
    },
    {
        "id": "35f7b572f33df6fb",
        "type": "ui_gauge",
        "z": "f397ce64f75f5629",
        "name": "",
        "group": "8081c4b6d1d092c6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel",
        "label": " ml",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "b16dea595bfa99ac",
        "type": "ui_text",
        "z": "f397ce64f75f5629",
        "group": "9c7174cbca07211b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Texto",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 740,
        "wires": []
    },
    {
        "id": "ca9f41faf3bb7611",
        "type": "ui_media",
        "z": "f397ce64f75f5629",
        "group": "9c7174cbca07211b",
        "name": "Node-RED Logo",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "logos",
        "file": "Node-RED.png",
        "layout": "center",
        "showcontrols": false,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2fc5fc989bf6eb52",
        "type": "mqtt in",
        "z": "0e0309d6c34ad814",
        "name": "Sensor >> Broker ",
        "topic": "topic1724/sensor1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fcb588b4d1585332",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "3ad2f34e05742ea8",
                "6f2f59bf6af47431"
            ]
        ]
    },
    {
        "id": "3ad2f34e05742ea8",
        "type": "ui_gauge",
        "z": "0e0309d6c34ad814",
        "name": "Temperatura",
        "group": "d5619656af46dda7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "className": "",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "61eb5fa9202ca2d2",
        "type": "mqtt out",
        "z": "0e0309d6c34ad814",
        "name": "Switch >> Broker",
        "topic": "topic1724/actuador1",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcb588b4d1585332",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "34c6f2ef5e34bfba",
        "type": "ui_text",
        "z": "0e0309d6c34ad814",
        "group": "8081c4b6d1d092c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Variable",
        "label": "Estado Luces:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "4eeeebc0bae5ca8e",
        "type": "debug",
        "z": "0e0309d6c34ad814",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "6f2f59bf6af47431",
        "type": "debug",
        "z": "0e0309d6c34ad814",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "c534078762243a16",
        "type": "ui_chart",
        "z": "0e0309d6c34ad814",
        "name": "Humedad",
        "group": "d5619656af46dda7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6a366d6e10e87ae5",
        "type": "ui_switch",
        "z": "0e0309d6c34ad814",
        "name": "Luces",
        "label": "Luces",
        "tooltip": "Enciende o apaga las luces",
        "group": "8081c4b6d1d092c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "61eb5fa9202ca2d2",
                "34c6f2ef5e34bfba",
                "4eeeebc0bae5ca8e",
                "cf3c7617693f0e12"
            ]
        ]
    },
    {
        "id": "1f7112fd5982d373",
        "type": "mqtt in",
        "z": "0e0309d6c34ad814",
        "name": "Sensor >> Broker ",
        "topic": "topic1724/sensor2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fcb588b4d1585332",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "c534078762243a16",
                "c508a4b98a8dc460"
            ]
        ]
    },
    {
        "id": "c508a4b98a8dc460",
        "type": "debug",
        "z": "0e0309d6c34ad814",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "9b9c6a227d74779d",
        "type": "inject",
        "z": "0e0309d6c34ad814",
        "name": "Init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "64cad7d683654a8c"
            ]
        ]
    },
    {
        "id": "388c9cb1fd37af15",
        "type": "ui_slider",
        "z": "0e0309d6c34ad814",
        "name": "Slider",
        "label": "Slider",
        "tooltip": "",
        "group": "8081c4b6d1d092c6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "132fd30b07aec61b"
            ]
        ]
    },
    {
        "id": "132fd30b07aec61b",
        "type": "ui_gauge",
        "z": "0e0309d6c34ad814",
        "name": "",
        "group": "8081c4b6d1d092c6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel",
        "label": " ml",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 700,
        "wires": []
    },
    {
        "id": "cf3c7617693f0e12",
        "type": "ui_toast",
        "z": "0e0309d6c34ad814",
        "position": "top right",
        "displayTime": "3",
        "highlight": "#ff0000",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Estado de luces:",
        "name": "",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "64cad7d683654a8c",
        "type": "ui_media",
        "z": "0e0309d6c34ad814",
        "group": "9c7174cbca07211b",
        "name": "Node-RED Logo",
        "width": 0,
        "height": 0,
        "order": 9,
        "category": "logos",
        "file": "nodered-logo.png",
        "layout": "adjust",
        "showcontrols": false,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 380,
        "y": 640,
        "wires": [
            []
        ]
    }
]